{% extends "tabler/dashboard_base.html" %}
{% block title %}appname Home{% endblock %}

{% block js %}
    {% assets "tabler_plugins_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "tabler_plugins_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    {{team.name}} Dashboard
                </h1>
            </div>    
        </div>
    </div>
{% endblock %}