{% extends "tabler/dashboard_base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}


{% block title %}appname Home{% endblock %}

{% block js %}
    {% assets "tabler_plugins_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "tabler_plugins_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    {{team.name}} Dashboard
                </h1>
            </div>
            <div class="card">
                    <div class="card-header">
                            <h3 class="card-title">Watermark File</h3>
                    </div>
                    <form role="form" enctype="multipart/form-data" action="{{ url_for('dashboard_home.handle_watermark', team_id=team.id) }}" method="post">
                        <div class="card-body">

                            {{ watermark_form.hidden_tag() }}
                            {{ render_field(watermark_form.watermark) }}
                            {{ render_field(watermark_form.attachment) }}


                        </div>
                        <div class="card-footer text-left">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary">Create Watermark</button>
                            </div>
                        </div>
                    </form>
                </div>

        </div>
    </div>
{% endblock %}